using UnrealBuildTool;

public class ${ModuleName} : ModuleRules
{
    public ${ModuleName}(ReadOnlyTargetRules Target) : base(Target)
    {
        PublicDependencyModuleNames.AddRange(
			new string[]
            {
                "Core",
                "CoreUObject"
            });

        PrivateDependencyModuleNames.AddRange(
            new string[]
            {

            });

        PublicIncludePaths.AddRange(
			new string[]
            {

            });

        PrivateIncludePaths.AddRange(
            new string[]
            {

            });
    }
}
