#pragma once

#include "CoreMinimal.h"
#include "UObject/ObjectMacros.h"
#include "GameFramework/Actor.h"

#include "${ClassName}.generated.h"

UCLASS()
class A${ClassName} : public AActor
{
	GENERATED_UCLASS_BODY()
};
