#include "${ClassName}.h"

//////////////////////////////////////////////////////////////////////////
// A${ClassName}

A${ClassName}::A${ClassName}(const FObjectInitializer& ObjectInitializer)
	: Super(ObjectInitializer)
{
}
