#include "${ClassName}.h"

//////////////////////////////////////////////////////////////////////////
// U${ClassName}

U${ClassName}::U${ClassName}(const FObjectInitializer& ObjectInitializer)
	: Super(ObjectInitializer)
{
}
