#pragma once

#include "CoreMinimal.h"
#include "UObject/ObjectMacros.h"
#include "UObject/UObject.h"
#include "${ClassName}.generated.h"

UCLASS(MinimalAPI)
class U${ClassName} : public UObject
{
	GENERATED_UCLASS_BODY()
};
